@font-face {
	font-family: 'Stolzl';
	src: url('../fonts/Stolzl-Book.woff2');
	src: url('../fonts/Stolzl-Book.woff');
	font-weight: 350;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Stolzl';
	src: url('../fonts/Stolzl-Regular.woff2');
	src: url('../fonts/Stolzl-Regular.woff');
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Gotham Pro';
	src: url('../fonts/GothamPro.woff2');
	src: url('../fonts/GothamPro.woff');
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Gotham Pro';
	src: url('../fonts/GothamPro-Bold.woff2');
	src: url('../fonts/GothamPro-Bold.woff');
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Gotham Pro';
	src: url('../fonts/GothamPro-Black.woff2');
	src: url('../fonts/GothamPro-Black.woff');
	font-weight: 800;
	font-style: normal;
	font-display: swap;
}